data/
**/data/
**/models/
**/plots/
comparison_mefisto_visium/__pycache__/data_loader.cpython-312.pyc
comparison_mefisto_evodevo/__pycache__/data_loader.cpython-312.pyc
__pycache__/
.vscode
*.pkl
*.save
*.hdf5
*.h5